<?xml version="1.0"?>
<!--
/**
 * Copyright 2017 Divante Sp. z o.o.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Divante_GoogleTagManager" setup_version="1.0.0">
        <sequence>
            <module name="Magento_GoogleAdwords"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
